@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {    
    --colorDefaul: #F8F9FA;
    --titulos: #4682B4;
    --bloques: ##6C757D;
}
body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://img.freepik.com/premium-vector/office-supplies_95169-31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    filter: blur(8px); 
    
    z-index: -1;
    transform: scale(1.1);
}
.contenedor {
    width: 95%;
    max-width: 1000px;
    height: auto;
    margin-top: 35px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenedor-apartado-detalles {
    position: relative;
    /*idea con srip*/
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 450px;

}

.contenedor-logo {
    flex: 1;
    z-index: 5;
    background-image: url(../Img/Ingresar-img.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: transparent;
    padding: 40px;

    z-index: 5;
    left: 20;
}

.contenedor-logo h3 {
    font-size: 1.5rem;
    /* el tamaño we*/
    font-weight: 800;
    /* el ancho we*/
    margin-bottom: 20px;
    color: white;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
}

/*Arreglando y preparando Login para movimiento js*/
.contenedor-logo,
.contenedor-registro {
    position: absolute;
    width: 45%;
    height: 100%;
    transition: all 0.8s cubic-bezier(0.68, -0.90, 0.265, 1.55);
}

.animar-logo {
    transform: translateX(-42%);
    width: 50% !important;
}

.animar-registro {
    transform: translateX(70%);
    width: 50% !important;
    opacity: 1 !important;
}

.btn-desactivado {
    padding: 10px 25px;
    width: 50%;
    cursor: pointer;
    font-weight: 600;
    color: black;
    background-color: gray;
    border: 2.5px solid gray;
    border-radius: 25px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.contenedor-registro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: transparent;
    z-index: 4;
    left: 0;
    opacity: 0;
}

.contenedor-opciones-registro {
    min-height: 220px;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.formulario-registro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 10px;
}

.formulario-registro label {
    font-size: 0.89rem;
    color: black;
    margin-bottom: 1px;
    font-weight: 600;
}
.formulario-registro input {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 230px;
    height: auto;

}

.btn-inisiarSesion {
    padding: 10px 20px;
    width: 60%;
    cursor: pointer;
    font-weight: 600;
    color: black;
    background-color: #93F086;
    border: 1px solid #157306;
    border-radius: 25px;
    transition: 0.3s;
}

.btn-inisiarSesion:hover {
    background-color: #5CC949;
    border: 1px solid #93F086;
    color: white;
    transition: 0.31s;
}

.btn-registro {
    padding: 10px 25px;
    width: 50%;
    cursor: pointer;
    font-weight: 600;
    color: black;
    background-color: #9BEBE8;
    border: 2.5px solid #499DF5;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.btn-registro:hover {
    background-color: #499DF5;
    border: 1px solid #9BEBE8;
    color: white;
    transition: 0.31s;
}


@media (max-width: 768px) {

    .contenedor-apartado-detalles,
    .contenedor-apartado-capturas {
        flex-direction: column;
    }

    .contenedor-logo {
        width: 90%;
        position: absolute;
        min-height: 200px;
    }

    .animar-logo {
        transform: translateY(-30%) scale(0.9);
        width: 90% !important;
    }

    .animar-registro {
        transform: translateY(40%);
        width: 90% !important;
        opacity: 1 !important;
        z-index: 6;
    }

    .contenedor-apartado-detalles {
        min-height: 650px;
        overflow: visible;
    }

    .formulario-registro input {
        width: 100%;
        max-width: 250px;
    }

    .contenedor-opciones-registro {
        padding: 10px;
        width: 100%;
    }
}